<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <meta charset="UTF-8" />
    <title>Web 2.0 Developement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.3.x" src="https://code.angularjs.org/1.3.16/angular.js" data-semver="1.3.16"></script>
    <script src="script.js"></script>
  </head>

  <body ng-controller="myCtrl">
    <button type="button" class="btn btn-success" ng-click="completed()">Completed</button>
  <button type="button" class="btn btn-warning" ng-click="notcompleted()">NotCompleted</button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add</button>
   <br><br>
   <p>Search:<input type="text" name="fname" ng-model="fname" ng-change="refreshData()"></p>
   <table border="1">
    <thead>
        <tr>
            <th>id</th>
            <th>firstName</th>
            <th>lastName</th>
            <th>status</th>
            <th ng-click="orderdate()">Date</th>
            <th ng-click="orderpriority()">Priority</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="person in persons|orderBy:order:false">
          <td>{{person.id}}</td>
          <td>{{person.firstName}}</td>
          <td>{{person.lastName}}</td>
          <td>{{person.status}}</td>
          <td>{{person.date| date:'dd MMM yyyy'}}</td>
          <td>{{person.priority}}</td>
          <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="edit(person)">Edit</button></td>
          <td><button type="button" class="btn btn-danger" ng-click="remove(person.id)">Remove</button></td>
        </tr>
    </tbody>
</table>
<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Todo</h4>
        </div>
        <div class="modal-body">
          <label>id</label><br><input type="number" ng-model="person.id"><br>
          <label>First Name</label><br><input type="text" ng-model="person.firstName"><br>
          <label>Last Name</label><br><input type="text" ng-model="person.lastName"><br>  
          <label>Date</label><br><input type="date" name="bday" ng-model="person.date"><br>
          <label>Priority</label><br><input type="number" ng-model="person.priority"><br>
          <label>completed/not completed</label><br>
          <select ng-model="status">
            <option>completed</option>
            <option>notcompleted</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addrow()">add</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="append()">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
  </body>

</html>